* {
  margin: 0;
  padding: 0;
}
a:hover, a:focus{
  text-decoration: none !important;
}
/* home */
#home-wrapper{
  width: 100%;
  height: 100%;
  background:#0ba14b;
}
.home{
  padding:50px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.home > h1{
  margin:0;
  padding:0 0 20px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.5px;
  color: #fff;
} 
.home > h2{
  margin:0 0 30px 0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
}
.btn-home{
  padding:15px 30px;
  margin:0;
  background:transparent;
  display: inline-block;
  border: 2px solid #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color:#fff;
  font-size: 16px;
  letter-spacing:3px;
  cursor:pointer;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.btn-home:hover, .btn-home:focus, .btn-home:active{
  color:#fff;
  text-decoration: none;
  background: #37ca76;
}

/* product */
#product-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  transform: translateX(-100%);
  z-index: 100;
  overflow-y: scroll;
}
.products{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.products h1{
  margin:0;
  padding:30px 0 50px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #333;
} 
.back{
  position: absolute;
  left:15px;
  top:30px;
  width: 60px;
  height: 60px;
  border:2px solid #333;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  cursor: pointer;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.back:hover, .back:active, .back:active{
  background:#ddd;
}
.icon-back{
  font-size: 50px !important;
  color: #333;
  padding-right:5px;
}
section{
  padding:30px;
  border:2px solid #333;
  margin:0 0 30px 0;
  cursor: pointer;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
section:hover, section:focus, section:active {
  background:#ddd;
}
section img{
  display: block;
  margin: 0 auto 30px;
}
section h2{
  margin:0 0 10px 0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #333;
}
section p{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  text-align: left;
}
#stm-product-wrapper, #awc-product-wrapper, #amc-product-wrapper, #branch-wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  position: fixed;
  transform: translateY(-100%);
  background-color: rgba(0,0,0,0.95);
  z-index: 200;
  overflow-y: scroll;
}
.product{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.product h1{
  margin:0;
  padding:30px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #fff;
} 
.close-product{
  position: absolute;
  left:15px;
  top:30px;
  width: 60px;
  height: 60px;
  border:2px solid #fff;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  cursor: pointer;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.close-product:hover, .close-product:active, .close-product:active{
  background:#222;
}
.icon-close-product{
  font-size: 26px !important;
  color: #fff;
  padding-top: 15px;
  padding-left: 1px;
}
.product-img{
  margin:30px 0 0 0;
  padding:0;
  height:300px;
  background: #fff;
}
.product-img img{
  display: block;
  margin:  auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.product-details{
  margin:30px 0 0 0;
  padding:0;
}
.product-details h3{
  margin:0;
  padding:0 0 30px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  text-align: left;
}
.btn-product{
  width: 100%;
  padding:15px 40px;
  margin:0 0 50px 0;
  background:transparent;
  display: inline-block;
  border: 2px solid #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color:#fff;
  font-size: 16px;
  letter-spacing:3px;
  cursor:pointer;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.btn-product:hover, .btn-product:focus, .btn-product:active{
  color:#fff;
  text-decoration: none;
  background: #37ca76;
}
.branch{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.branch h1{
  margin:0;
  padding:30px 0 50px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #fff;
}
.branch h2{
  margin:0;
  padding:0 0 30px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
}
.back-branch{
  border:2px solid #fff;
}
.back-branch:hover, .back-branch:active, .back-branch:active{
  background:#222;
}
.icon-back-branch{
  font-size: 50px !important;
  color: #fff;
  padding-right:5px;
}
.branch-content{
  margin:0 0 50px 0;
}
.branch-content img{
  height: 200px;
  margin:0 0 30px 0;
}
.branch-content a{
  cursor: pointer;
}

/* package plan */
#package-wrapper {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  position: fixed;
  transform: translateX(-100%);
  z-index: 400;
  overflow-y: scroll;
}
.packages{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -o-transform: translate(0, -50%); 
}
.packages h1{
  margin:0;
  padding:30px 0 50px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #333;
} 
.package-plan{
  height:300px;
  border:2px solid #333;
}